<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="mensajeria express, servicio de mensajeria express, envio urgente, envio express, mandados colima, envío de mensajería local, mensajería Urgente, envío urgente">
    <meta name="description" content=""La mensajeria express más segura y veloz en Colima ¡Nosotros llevamos tu papelería, planos, contratos y archivos urgentes!"">
    <meta name="author" content="Donmandon">
    <title>Mensajería express más segura y veloz - Don Mandón</title>

        <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KT7V4LH');</script>
    <!-- End Google Tag Manager -->

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

	<!-- GOOGLE WEB FONT -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,300,300italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>

	<!-- BASE CSS -->
	<link href="css/base.css" rel="stylesheet">

	<!-- SPECIFIC CSS -->
	<link href="css/skins/square/grey.css" rel="stylesheet">
	<link href="css/admin.css" rel="stylesheet">
	<link href="css/bootstrap3-wysihtml5.min.css" rel="stylesheet">
	<link href="css/dropzone.css" rel="stylesheet">

	<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125739076-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125739076-1');
	</script>
	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '223587065178648');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=223587065178648&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
</head>

<body>
	<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT7V4LH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- Header ================================================== -->
    <header>
    <div class="container-fluid">
        <div class="row">
            <div class="col--md-4 col-sm-4 col-xs-4">
                <a href="index.html" id="logo">
                <img src="img/mensajeria-donmandon.png" width="184" height="81" alt="mensajeria express más segura y veloz" data-retina="true" class="hidden-xs">
                <img src="img/mensajeria-donmandon-mobile.png" width="59" height="23" alt="mensajeria express más segura y veloz" data-retina="true" class="hidden-lg hidden-md hidden-sm">
                </a>
            </div>
            <nav class="col--md-8 col-sm-8 col-xs-8">
            <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
            <div class="main-menu">
                <div id="header_menu">
                    <img src="img/mensajeria-donmandon.png" width="184" height="81" alt="mensajería express" data-retina="true">
                </div>
                <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                 <ul>
                     <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="faq.html">FAQs</a></li>
                    <li><a href="#0" data-toggle="modal" data-target="#login_2">Ingresar</a></li>
                </ul>
            </div><!-- End main-menu -->
            </nav>
        </div><!-- End row -->
    </div><!-- End container -->
    </header>
    <!-- End Header =============================================== -->

	<!-- SubHeader =============================================== -->
	<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/administrador-donmandon.jpg" alt="mensajeria express más segura y veloz"data-natural-width="1400" data-natural-height="350">
		<div id="subheader">
			<div id="sub_content">
				<h1>Administrador de cuenta</h1>
				<p></p>
			</div><!-- End sub_content -->
		</div><!-- End subheader -->
	</section><!-- End section -->
	<!-- End SubHeader ============================================ -->

	<!-- Content ================================================== -->
	<div class="container margin_60">
		<div id="tabs" class="tabs">
			<nav>
				<ul>
					<li><a href="#section-1" class="icon-profile"><span>Solicita</span></a>
					</li>
					<li><a href="#section-2" class="icon-menut-items"><span>Pedidos</span></a>
					</li>
					<li><a href="#section-3" class="icon-settings"><span>Perfil Mandón</span></a>
					</li>
				</ul>
			</nav>
			<div class="content">

				<section id="section-1">
					<div class="indent_title_in">
						<i class="icon_house_alt"></i>
						<h3>Realizar un pedido</h3>
					</div>
					<hr class="styled_2">

					<div class="indent_title_in">
						<i class="icon_pin_alt"></i>
						<h3>Direcciones frecuentes</h3>
						<p>
							Guarda todas tus direcciones favoritas.
						</p>
					</div>
					<div class="wrapper_indent">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Favorito 1</label>
									<input type="text" id="street_1" name="street_1" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Favorito 4</label>
									<input type="text" id="street_4" name="street_4" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Favorito 5</label>
									<input type="text" id="street_5" name="street_5" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Favorito 2</label>
									<input type="text" id="street_2" name="street_2" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Favorito 3</label>
									<input type="text" id="street_3" name="street_3" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Favorito 6</label>
									<input type="text" id="street_6" name="street_6" class="form-control">
								</div>
							</div>
						</div><!--End row -->
					</div><!-- End wrapper_indent -->
					MAPA GOGOLE MAPS


                    
					<hr class="styled_2">
					<div class="wrapper_indent">
						<button class="btn_1">Save now</button>
					</div><!-- End wrapper_indent -->
                    
				</section><!-- End section 1 -->

				<section id="section-2">
					<div class="indent_title_in">
						<i class="icon_document_alt"></i>
						<h3>Detalle de pedidos</h3>
						<p>Selecciona los pedidos que deseas facturar del mes en curso.</p>
					</div>
                    
					<div class="wrapper_indent">
						<div class="form-group">
							<label>Menu Category</label>
							<input type="text" name="menu_category" class="form-control" placeholder="EX. Starters">
						</div>

						<div class="menu-item-section clearfix">
							<h4>Menu item #1</h4>
							<div><a href="#0"><i class="icon_plus_alt"></i></a><a href="#0"><i class="icon_minus_alt"></i></a>
							</div>
						</div>

						<div class="strip_menu_items">
							<div class="row">
								<div class="col-sm-3">
									<div class="menu-item-pic dropzone">
										<input name="file" type="file">
										<div class="dz-default dz-message"><span>Click or Drop<br>Images Here</span>
										</div>
									</div>
								</div>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group">
												<label>Title</label>
												<input type="text"  name="menu_item_title" class="form-control">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>Price</label>
												<input type="text" name="menu_item_title_price" class="form-control">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Short description</label>
										<input type="text" name="menu_item_description" class="form-control">
									</div>

									<div class="form-group">
										<label>Item options</label>
										<div class="table-responsive">
											<table class="table table-striped edit-options">
												<tbody>
													<tr>
														<td style="width:20%">
															<input type="text" class="form-control" placeholder="+ $3.50">
														</td>
														<td style="width:50%">
															<input type="text" class="form-control" placeholder="Ex. Medium">
														</td>
														<td style="width:30%">
															<label>
																<input type="radio" name="option_item_settings_1" checked class="icheck" value="checkbox">Checkbox</label>
															<label class="margin_left">
																<input type="radio" name="option_item_settings_1" class="icheck" value="radio">Radio</label>
														</td>
													</tr>
													<tr>
														<td style="width:20%">
															<input type="text" class="form-control" placeholder="+ $5.50">
														</td>
														<td style="width:50%">
															<input type="text" class="form-control" placeholder="Ex. Large">
														</td>
														<td style="width:30%">
															<label>
																<input type="radio" name="option_item_settings_2" class="icheck" value="checkbox">Checkbox</label>
															<label class="margin_left">
																<input type="radio" name="option_item_settings_2" class="icheck" value="radio" checked>Radio</label>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div><!-- End form-group -->

									<div class="form-group">
										<label>Item ingredients</label>
                                        <div class="table-responsive">
										<table class="table table-striped notifications">
											<tbody>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $2.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra tomato">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_3" checked class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_3" class="icheck" value="radio">Radio</label>
													</td>
												</tr>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $5.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra Pepper">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_4" class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_4" class="icheck" value="radio" checked>Radio</label>
													</td>
												</tr>
											</tbody>
										</table>
                                        </div>
									</div><!-- End form-group -->
								</div>
							</div><!-- End row -->
						</div><!-- End strip_menu_items -->



						<div class="menu-item-section clearfix">
							<h4>Menu item #2</h4>
							<div><a href="#0"><i class="icon_plus_alt"></i></a><a href="#0"><i class="icon_minus_alt"></i></a>
							</div>
						</div>

						<div class="strip_menu_items">
							<div class="row">
								<div class="col-sm-3">
									<div class="menu-item-pic dropzone">
										<input name="file" type="file">
										<div class="dz-default dz-message"><span>Click or Drop<br>Images Here</span>
										</div>
									</div>
								</div>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group">
												<label>Title</label>
												<input type="text" name="menu_item_title" class="form-control">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>Price</label>
												<input type="text" name="menu_item_title_price" class="form-control">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Short description</label>
										<input type="text" name="menu_item_description" class="form-control">
									</div>

									<div class="form-group">
										<label>Item options</label>
                                        <div class="table-responsive">
										<table class="table table-striped notifications">
											<tbody>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $3.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Medium">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_5" checked class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_5" class="icheck" value="radio">Radio</label>
													</td>
												</tr>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $5.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Large">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_7" class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_7" class="icheck" value="radio" checked>Radio</label>
													</td>
												</tr>
											</tbody>
										</table>
                                        </div>
									</div><!-- End form-group -->

									<div class="form-group">
										<label>Item ingredients</label>
                                        <div class="table-responsive">
										<table class="table table-striped notifications">
											<tbody>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $2.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra tomato">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_8" checked class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_8" class="icheck" value="radio">Radio</label>
													</td>
												</tr>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $5.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra Pepper">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_9" class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_9" class="icheck" value="radio" checked>Radio</label>
													</td>
												</tr>
											</tbody>
										</table>
                                        </div>
									</div><!-- End form-group -->
								</div>
							</div><!-- End row -->
						</div><!-- End strip_menu_items -->
					</div><!-- End wrapper_indent -->

					<hr class="styled_2">
                    
					<div class="wrapper_indent">
						<div class="form-group">
							<label>Menu Category</label>
							<input type="text" name="menu_category" class="form-control" placeholder="EX. Main courses">
						</div>

						<div class="menu-item-section clearfix">
							<h4>Menu item #1</h4>
							<div><a href="#0"><i class="icon_plus_alt"></i></a><a href="#0"><i class="icon_minus_alt"></i></a>
							</div>
						</div>

						<div class="strip_menu_items">
							<div class="row">
								<div class="col-sm-3">
									<div class="menu-item-pic dropzone">
										<input name="file" type="file">
										<div class="dz-default dz-message"><span>Click or Drop<br>Images Here</span>
										</div>
									</div>
								</div>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-md-8">
											<div class="form-group">
												<label>Title</label>
												<input type="text" name="menu_item_title" class="form-control">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>Price</label>
												<input type="text" name="menu_item_title_price" class="form-control">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Short description</label>
										<input type="text" name="menu_item_description" class="form-control">
									</div>

									<div class="form-group">
										<label>Item options</label>
                                        <div class="table-responsive">
										<table class="table table-striped notifications">
											<tbody>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $3.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Medium">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_10" checked class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_10" class="icheck" value="radio">Radio</label>
													</td>
												</tr>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $5.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Large">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_11" class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_11" class="icheck" value="radio" checked>Radio</label>
													</td>
												</tr>
											</tbody>
										</table>
                                        </div>
									</div><!-- End form-group -->

									<div class="form-group">
										<label>Item ingredients</label>
                                        <div class="table-responsive">
										<table class="table table-striped notifications">
											<tbody>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $2.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra tomato">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_12" checked class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_12" class="icheck" value="radio">Radio</label>
													</td>
												</tr>
												<tr>
													<td style="width:20%">
														<input type="text" class="form-control" placeholder="+ $5.50">
													</td>
													<td style="width:50%">
														<input type="text" class="form-control" placeholder="Ex. Extra Pepper">
													</td>
													<td style="width:30%">
														<label>
															<input type="radio" name="option_item_settings_13" class="icheck" value="checkbox">Checkbox</label>
														<label class="margin_left">
															<input type="radio" name="option_item_settings_13" class="icheck" value="radio" checked>Radio</label>
													</td>
												</tr>
											</tbody>
										</table>
                                        </div>
									</div><!-- End form-group -->
								</div>
							</div><!-- End row -->
						</div><!-- End strip_menu_items -->
					</div><!-- End wrapper_indent -->
                    
					<hr class="styled_2">
                    
					<div class="wrapper_indent">
						<div class="add_more_cat"><a href="#0" class="btn_1">Save now</a> <a href="#0" class="btn_1">Add menu category</a> </div>
					</div><!-- End wrapper_indent -->
                    
				</section><!-- End section 2 -->

				<section id="section-3">

					<div class="row">
                    
						<div class="col-md-6 col-sm-6 add_bottom_15">
							<div class="indent_title_in">
								<i class="icon_lock_alt"></i>
								<h3>Cambiar contraseña</h3>
								<p>
									No quedes fuera de tu servicio de mensajería express.
								</p>
							</div>
							<div class="wrapper_indent">
								<div class="form-group">
									<label>Nueva contraseña</label>
									<input class="form-control" name="new_password" id="new_password" type="password">
								</div>
								<div class="form-group">
									<label>Confirmar nueva contraseña</label>
									<input class="form-control" name="confirm_new_password" id="confirm_new_password" type="password">
								</div>
								<button type="submit" class="btn_1 green">Actualizar</button>
							</div><!-- End wrapper_indent -->
						</div>
                        
						<div class="col-md-6 col-sm-6 add_bottom_15">
							<div class="indent_title_in">
								<i class="icon_mail_alt"></i>
								<h3>Cambiar mail</h3>
								<p>
									Tu usuario a Don Mandón la mensajería express de Colima.
								</p>
							</div>
							<div class="wrapper_indent">
								<div class="form-group">
									<label>Nuevo mail</label>
									<input class="form-control" name="new_email" id="new_email" type="email">
								</div>
								<button type="submit" class="btn_1 green">Actualizar</button>
							</div><!-- End wrapper_indent -->
						</div>
                        
					</div><!-- End row -->

					<hr class="styled_2">
                    
					<div class="indent_title_in">
						<i class="icon_shield"></i>
						<h3>Notification settings</h3>
						<p>
							Mussum ipsum cacilds, vidis litro abertis.
						</p>
					</div>
					<div class="row">
                    
						<div class="col-md-6 col-sm-6">
							<div class="wrapper_indent">
								<table class="table table-striped notifications">
									<tbody>
										<tr>
											<td style="width:5%">
												<i class="icon_pencil-edit_alt"></i>
											</td>
											<td style="width:65%">
												New orders
											</td>
											<td style="width:35%">
												<label>
													<input type="checkbox" name="option_1_settings" checked class="icheck" value="yes">Yes</label>
												<label class="margin_left">
													<input type="checkbox" name="option_1_settings" class="icheck" value="no">No</label>
											</td>
										</tr>
										<tr>
											<td>
												<i class="icon_pencil-edit_alt"></i>
											</td>
											<td>
												Modified orders
											</td>
											<td>
												<label>
													<input type="checkbox" name="option_2_settings" checked class="icheck" value="yes">Yes</label>
												<label class="margin_left">
													<input type="checkbox" name="option_2_settings" class="icheck" value="no">No</label>
											</td>
										</tr>
										<tr>
											<td>
												<i class="icon_pencil-edit_alt"></i>
											</td>
											<td>
												New user registration
											</td>
											<td>
												<label>
													<input type="checkbox" name="option_3_settings" checked class="icheck" value="yes">Yes</label>
												<label class="margin_left">
													<input type="checkbox" name="option_3_settings" class="icheck" value="no">No</label>
											</td>
										</tr>
										<tr>
											<td>
												<i class="icon_pencil-edit_alt"></i>
											</td>
											<td>
												New comments
											</td>
											<td>
												<label>
													<input type="checkbox" name="option_4_settings" checked class="icheck" value="yes">Yes</label>
												<label class="margin_left">
													<input type="checkbox" name="option_4_settings" class="icheck" value="no">No</label>
											</td>
										</tr>
									</tbody>
								</table>
								<button type="submit" class="btn_1 green">Update notifications settings</button>
							</div>
                            
						</div><!-- End row -->
					</div><!-- End wrapper_indent -->
                    
				</section><!-- End section 3 -->

			</div><!-- End content -->
		</div>
	</div><!-- End container  -->
	<!-- End Content =============================================== -->

    <!-- Footer ================================================== -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h3></h3>
                <ul>
                    <li><a href="terminos-condiciones.html">Términos y condiciones</a></li>
                </ul>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#0"><i class="icon-facebook"></i></a></li>
                        © Don Mandón 2018
                    </p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    </footer>

    <!-- End Footer =============================================== -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!-- Login modal -->
	<div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<form action="#" class="popup-form" id="myLogin">
					<div class="login_icon"><i class="icon_lock_alt"></i>
					</div>
					<input type="text" class="form-control form-white" placeholder="Usuario">
					<input type="text" class="form-control form-white" placeholder="Contraseña">
					<div class="text-left">
						<a href="#">¿Olvidaste tu contraseña?</a>
					</div>
					<button type="submit" class="btn btn-submit">Guardar</button>
				</form>
			</div>
		</div>
	</div>
	<!-- End modal -->

	<!-- Register modal -->
	<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<form action="#" class="popup-form" id="myRegister">
					<div class="login_icon"><i class="icon_lock_alt"></i>
					</div>
					<input type="text" class="form-control form-white" placeholder="Nombre Completo">
					<input type="email" class="form-control form-white" placeholder="Mail">
					<input type="text" class="form-control form-white" placeholder="Contraseña" id="password1">
					<input type="text" class="form-control form-white" placeholder="Confirma contraseña" id="password2">
					<div id="pass-info" class="clearfix"></div>
					<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="accept_2" id="check_2" name="check_2" />
							<label for="check_2"><span>Acepto <strong>Terminos y condiciones</strong></span>
							</label>
						</div>
					</div>
					<button type="submit" class="btn btn-submit">Registrarse</button>
				</form>
			</div>
		</div>
	</div>
	<!-- End Register modal -->

	<!-- COMMON SCRIPTS -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>
	<script src="assets/validate.js"></script>

	<!-- Specific scripts -->
	<script src="js/tabs.js"></script>
	<script>
		new CBPFWTabs(document.getElementById('tabs'));
	</script>

	<script src="js/bootstrap3-wysihtml5.min.js"></script>
	<script type="text/javascript">
		$('.wysihtml5').wysihtml5({});
	</script>
	<script src="js/dropzone.min.js"></script>
	<script>
		if ($('.dropzone').length > 0) {
			Dropzone.autoDiscover = false;
			$("#photos").dropzone({
				url: "upload",
				addRemoveLinks: true
			});

			$("#logo_picture").dropzone({
				url: "upload",
				maxFiles: 1,
				addRemoveLinks: true
			});

			$(".menu-item-pic").dropzone({
				url: "upload",
				maxFiles: 1,
				addRemoveLinks: true
			});
		}
	</script>

</body>

</html>