<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie ie9">
  <![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mensajería express más segura y veloz - Don Mandón</title>
  <meta name="keywords" content="mensajeria express, servicio de mensajeria express, envio urgente, envio express, mandados colima, envío de mensajería local, mensajería Urgente, envío urgente">
  <meta name="description" content="La mensajeria express más segura y veloz en Colima ¡Nosotros llevamos tu papelería, planos, contratos y archivos urgentes!">
  <!-- Favicons-->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
  <!-- GOOGLE WEB FONT -->
  <!-- SPECIFIC CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Morphext/2.4.4/morphext.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">
  <link href="css/bundle.css" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="css/admin.css" rel="stylesheet">
		
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '223587065178648');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=223587065178648&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <script type="text/javascript"> window._mfq = window._mfq || []; (function() { var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true; mf.src = "//cdn.mouseflow.com/projects/8f08a3b3-499d-4895-b8ec-b4ec3875b096.js"; document.getElementsByTagName("head")[0].appendChild(mf); })(); </script>
</head>

<body class="adminsection">	
	<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT7V4LH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave" id="status">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>
	<!-- End Preload -->

    <!-- Header ================================================== -->
    <header>
    <div class="container-fluid">
        <div class="row">
            <div class="col--md-4 col-sm-4 col-xs-4">
                <a href="index.html" id="logo">
                <img src="img/mensajeria-donmandon.png" width="184" height="81" alt="mensajeria express más segura y veloz" data-retina="true" class="hidden-xs">
                <img src="img/mensajeria-donmandon-mobile.png" width="59" height="23" alt="mensajeria express más segura y veloz" data-retina="true" class="hidden-lg hidden-md hidden-sm">
                </a>
            </div>
            <nav class="col--md-8 col-sm-8 col-xs-8">
            <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
            <div class="main-menu">
                <div id="header_menu">
                    <img src="img/mensajeria-donmandon.png" width="184" height="81" alt="mensajería express" data-retina="true">
                </div>
                <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                 <ul>
                    <li><a href="#0" data-toggle="modal" data-target="#login_2">Ingresar</a></li>
                    <li><a href="#0" data-toggle="modal" data-target="#register">Registro</a></li>
                </ul>
            </div><!-- End main-menu -->
            </nav>
        </div><!-- End row -->
    </div><!-- End container -->
    </header>
    <!-- End Header =============================================== -->

	<!-- SubHeader =============================================== -->
	<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/administrador-donmandon.jpg" alt="mensajeria express más segura y veloz"data-natural-width="1400" data-natural-height="350">
		<div id="subheader">
			<div id="sub_content">
				<h1>Administrador de cuenta</h1>
				<p></p>
			</div><!-- End sub_content -->
		</div><!-- End subheader -->
	</section><!-- End section -->
	<!-- End SubHeader ============================================ -->

	<!-- Content ================================================== -->
	<div class="container margin_60 hidden" id='jsAdminDataBlock'>
		<div id="tabs" class="tabs">
			<nav>
				<ul>
					<li><a href="#section-1" class="icon-profile"><span>Solicita</span></a>
					</li>
					<li><a href="#section-2" class="icon-menut-items"><span>Pedidos y status</span></a>
					</li>
					<li><a href="#section-3" class="icon-settings"><span>Perfil Mandón</span></a>
					</li>
				</ul>
			</nav>
			<div class="content">

				<section id="section-1">
					
					<div class="indent_title_in">
						<i class="icon_pin_alt"></i>
						<h3>Direcciones frecuentes</h3>
						<p>
							Todas tus direcciones frecuentes 
						</p>
					</div>
					<div class="wrapper_indent">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="">
									<table class="table table-striped notifications">
										<thead>
												<tr>
													<td style="width: 70%; text-align: center;">
														Direccion origen
													</td>
													<td style="widows: 5%; text-align: center;">
														Modificar
													</td>
													<td style="widows: 10%; text-align: center;">
														Levantar pedido
													</td>
												</tr>

										</thead>
										<tbody id='jsListPedidos'>
										</tbody>
									</table>
								</div>
															
							</div><!-- End row -->
						</div><!--End row -->
					</div><!-- End wrapper_indent -->

				</section><!-- End section 1 -->

				<section id="section-2">
					<div class="indent_title_in">
						<i class="icon_document_alt"></i>
						<h3>Detalle de los pedidos</h3>
					</div>
                    
					<div class="wrapper_indent">

						<div class="strip_menu_items">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<div class="table-responsive">
											<table class="table table-striped edit-options">
												<thead>
													<tr>
														<td style="width: 10%; text-align: center;">
															Dia
														</td>
														<td style="width: 35%; text-align: center;">
															Origen 
														</td>
														<td style="width: 35%; text-align: center;">
															Destino
														</td>
														<td style="width: 10%; text-align: center;">
															Precio
														</td>
														<td style="widows: 10%; text-align: center;">
															Status 
														</td>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td style="width: 10%; text-align: center;">
																04/20/2019	
														</td>
														<td style="width: 35%; text-align: center;">
																Calle General Silverio Núñez 302, Centro, Colima, Col.	 
														</td>
														<td style="width: 35%; text-align: center;">
																Almolonia 101-C, Villa Izcalli Caxitlan, Villa de Álvarez, Col.	
														</td>
														<td style="width: 10%; text-align: center;">
																35.00	
														</td>
														<td style="widows: 10%; text-align: center;">
															<p class="bg-primary btn-block" style="padding: 10px 0">Entregado </p>
															<p class="bg-success btn-block" style="padding: 10px 0">En camino </p>
															<p class="bg-info btn-block" style="padding: 10px 0">Pendiente </p>
														</td>
													</tr>
										
												</tbody>
											</table>
										</div>
									</div><!-- End form-group -->
								</div>
							</div><!-- End row -->
						</div><!-- End strip_menu_items -->
					</div><!-- End wrapper_indent -->

				</section><!-- End section 2 -->

				<section id="section-3">

					<div class="row">
                    
						<div class="col-md-6 col-sm-6 add_bottom_15">
							<div class="indent_title_in">
								<i class="icon_lock_alt"></i>
								<h3>Cambiar contraseña</h3>
								<p>
									No quedes fuera de tu servicio de mensajería express.
								</p>
							</div>
							<div class="wrapper_indent">
								<div class="form-group">
									<label>Nueva contraseña</label>
									<input class="form-control" name="new_password" id="new_password" type="password">
								</div>
								<div class="form-group">
									<label>Confirmar nueva contraseña</label>
									<input class="form-control" name="confirm_new_password" id="confirm_new_password" type="password">
								</div>
								<button type="submit" class="btn_1 green">Actualizar</button>
							</div><!-- End wrapper_indent -->
						</div>
                        
						<div class="col-md-6 col-sm-6 add_bottom_15">
							<div class="indent_title_in">
								<i class="icon_mail_alt"></i>
								<h3>Datos</h3>
								<p>
									Tu usuario a Don Mandón la mensajería express de Colima.
								</p>
							</div>
							<div class="wrapper_indent">
									<div class="form-group">
										<label>Nombre</label>
										<input class="form-control" name="new_email" id="new_email" type="email">
									</div>
									<div class="form-group">
										<label>Teléfono</label>
										<input class="form-control" name="new_email" id="new_email" type="email">
									</div>
								<div class="form-group">
									<label>Correo</label>
									<input class="form-control" name="new_email" id="new_email" type="email">
								</div>
								<button type="submit" class="btn_1 green">Actualizar</button>
							</div><!-- End wrapper_indent -->
						</div>
                        
					</div><!-- End row -->

				
                    
				</section><!-- End section 3 -->

			</div><!-- End content -->
		</div>
	</div><!-- End container  -->
	<!-- End Content =============================================== -->

    <!-- Footer ================================================== -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h3></h3>
                <ul>
                    <li><a href="terminos-condiciones.html">Términos y condiciones</a></li>
                </ul>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#0"><i class="icon-facebook"></i></a></li>
                        © Don Mandón 2018
                    </p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    </footer>

    <!-- End Footer =============================================== -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!-- Login modal -->
	<div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<form action="#" class="popup-form" id="myLogin">
					<div class="login_icon"><i class="icon_lock_alt"></i>
					</div>
					<input type="text" class="form-control form-white" name='username' placeholder="Usuario">
					<input type="password" class="form-control form-white" name='password' placeholder="Contraseña">
					<div class="text-left">
						<a  href="#0" data-toggle="modal" data-target="#password">¿Olvidaste tu contraseña?</a>
					</div>
					<button type="submit" id='sign_in' class="btn btn-submit">Iniciar</button>
				</form>
			</div>
		</div>
	</div>
	<!-- End modal -->

	<!-- Register modal -->
	<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
					<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<form action="#" class="popup-form" id="myRegister">
					<div class="login_icon"><i class="icon_lock_alt"></i>
					</div>
					<input type="text" class="form-control form-white" placeholder="Nombre Completo" name="name">
					<input type="email" class="form-control form-white" placeholder="Mail"  name="mail">
					<input type="number" class="form-control form-white" placeholder="Teléfono"  name="telphone">
					<input type="text" class="form-control form-white" placeholder="Contraseña" id="password1"  name="password">
					<input type="text" class="form-control form-white" placeholder="Confirma contraseña" id="password2">
					<div id="pass-info" class="clearfix"></div>
					<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="accept_2" id="check_2" name="check_2" />
							<label for="check_2"><span>Acepto <strong>Terminos y condiciones</strong></span>
							</label>
						</div>
					</div>
					<button type="submit" class="btn btn-submit">Registrarse</button>
				</form>
			</div>
		</div>
	</div>
	<!-- End Register modal -->

	<!-- Password modal -->
	<div class="modal fade" id="password" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
					<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<form action="#" class="popup-form" id="Mypassword">
					<div class="login_icon"><i class="icon_lock_alt"></i>
					</div>
					<input type="text" class="form-control form-white" placeholder="Nombre Completo" name="name">
					<input type="email" class="form-control form-white" placeholder="Mail"  name="mail">
					<input type="number" class="form-control form-white" placeholder="Teléfono"  name="telphone">
					<input type="text" class="form-control form-white" placeholder="Contraseña" id="password1"  name="password">
					<input type="text" class="form-control form-white" placeholder="Confirma contraseña" id="password2">
					<div id="pass-info" class="clearfix"></div>
					<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="accept_2" id="check_2" name="check_2" />
							<label for="check_2"><span>Acepto <strong>Terminos y condiciones</strong></span>
							</label>
						</div>
					</div>
					<button type="submit" class="btn btn-submit">Registrarse</button>
				</form>
			</div>
		</div>
	</div>
	<!-- End Password modal -->

	<!-- fullmap modal -->
	<div class="modal fade" id="newadress" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
			
						<div class="main_title margin_mobile">
							<h2 class="nomargin_top schedule-hide">Haz tu pedido ahora</h2>
				
							<h2 class="nomargin_top schedule-show">Cerrado</h2>
							<p class="nomargin_top schedule-show">Nuestras entregas son de lunes a viernes de 9 am a 5:45 pm</p>
						</div>
				
						<form class="distance-form">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-md-12 block-input">
											<label>Punto de partida:</label>
											<input type="text" id="txtSource" disabled="true" />
											<label class="error-input txtSource" style="display: none" >Esta campo es requerido*</label>
										</div>
				
										<div class="col-md-12  block-input">
											<label>Punto de entrega:</label>
											<input type="text" id="txtDestination"  />
											<label class="error-input txtDestination" style="display: none">Esta campo es requerido*</label>
										</div>
				
										<div class="col-sm-12 col-md-12 col-lg-12  block-input">
											<input type="button" value="Obtener distancia" onclick="GetRoute()" class="btn distance" />
										</div>
									</div>
								</div>
				
								<div class="col-sm-12 col-md-12 col-lg-12 ">
									<div class="panel panel-default ">
										<div class="panel-heading">Costo Aproxímado</div>
										<div class="panel-body dvDistance" id="dvDistance">
											<ul class="list-group distance-box">
												<li class="list-group-item"><span id="distance-value">Distancia:</span></li>
												<li class="list-group-item hidden"><span id="time-value">Duración:</span></li>
												<li class="list-group-item"><span id="price-value">Precio:</span></li>
											</ul>
				
				
				
										</div>
									</div>
				
								</div>
							</div>
				
						</form>
				
						<div class="row ">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-sm-12 col-md-12 col-lg-12">
											<div id="dvMap" style="width: 100%; height: 300px; margin: 0 auto;"></div>
										</div>
									</div>
									<div class="row references">
										<div class="col-sm-12 col-md-12 col-lg-12">
											<label>Notas de referencia</label>
											<textarea class="form-control" style="height:150px" placeholder="Esquina con, edificio rojo, cuarto piso"
												name="notes" id="notes"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="col-dm-12 " id="g-recaptcha">
												<div class="g-recaptcha" data-sitekey="6Ld345MUAAAAAI8Pmkxncrl7q9OD3rvglzVLHIJk"></div>
										</div>
										<div class="col-sm-12 col-md-12 col-lg-12">
											<div class="text-center solicita">
													<button id="actionMainrequest" class="btn btn_full" disabled> ¡SOLICITA AHORA!</button>
													<a href="solicita"   class="hidden"  ></a>
											</div>
										</div>
									</div>
				
								</div>
							</div>
				
				
				
			</div>
		</div>
	</div>
	<!-- End fullmap modal -->

	<!-- COMMON SCRIPTS -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz2qXwxC0KJSPvR3-PZUtcrOlqhxmPC2k&sensor=false&&region=MX&language=es&libraries=places"></script>
	<script src="js/bundle.js.min"></script>
	<script>
		function orderForm(orderData) {
			return `<tr id='orderInfo_${orderData.id}' >` +
				'<td style="width:70%">' +
				'<div class="col-sm-12">' +
				'<div class="form-group">' +
				'<label>Mi ubicación 1</label>' +
				`<input type="text" id="search_${orderData.id}" name="street_${orderData.id}" class="form-control" disabled value='${orderData.origin}'>` +
				`<input type="hidden" id="destination_${orderData.id}" name="destination_${orderData.id}" disabled value='${orderData.destination}'>` +
				'</div>' +
				'</div>' +
				'</td>' +
				'<td style="widows: 5%; text-align: center;">' +
				'<div class="delete-recurrent">' +
				`<a href="#" class="close-link edit_search${orderData.id}"><i class="icon_pencil"></i></a>` +
				'</div>' +
				'</td>' +
				'<td style="widows: 10%; text-align: center;">' +
				`<button class="btn_1 action-Adress${orderData.id}" >Hacer pedido</button>` +
				'</td>' +
				'</tr>';
		}

		if (<%= userId %>) {
			$.ajaxSetup({
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", "Token token=\"<%= token %>\"");
				}
			});

			$.get(`http://localhost:3000/users/<%= userId %>/pedidos`, (orders) => { 
				if (orders.error)
					setTimeout( () => {
						alert(orders.message);
					}, 300);

					orders.forEach(order => {
						if (!order.address.id)
							return console.log('not address');

						$('#jsListPedidos').append(orderForm(order.address));

						$(`.action-Adress${order.address.id}`).click(function() {
							if($("#search1").val() != ""){
								$(".distance-form")[0].reset();
								$('#newadress #txtSource').val($(`#search_${order.address.id}`).val());
								$('#newadress #txtDestination').val($(`#destination_${order.address.id}`).val());
								$('#newadress').modal('toggle');
							}else{
								alert("Falta seleccionar el campo ubicación 1");
							}
						});

						$(`.edit_search${order.address.id}`).click(function () {
							event.preventDefault();
							$(`#search_${order.address.id}`).prop("disabled", false);
						});
						var circle = new google.maps.Circle({
							radius: 5500,
							center: { lat: 19.2399156, lng: -103.7245426 }
						});

						new google.maps.places.Autocomplete(document.getElementById(`search_${order.address.id}`), {
							types: ['geocode'],
							bounds: circle.getBounds(),
							strictBounds: true
						});
					});

				$('#jsAdminDataBlock').removeClass('hidden');
			});
		}
		else
			$('#login_2').modal('show');

	</script>
	

	<!-- Specific scripts -->
	<script src="js/tabs.js"></script>
	<script>
		new CBPFWTabs(document.getElementById('tabs'));
	</script>

</body>

</html>